# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Local Python virtual environment
web-env/
# Local Pygbag build files
pygbag-build/
# Desktop backup
main_desktop_backup.py
